# {{ ansible_managed }}

{% for rule in firewall_rules %}
{% if rule.comment is defined %}
# {{ rule.comment }}
{% endif %}
{{ rule.action }}{% if rule.family is defined %} {{ rule.family }}{% endif %}{% if rule.proto is defined %} proto {{ rule.proto }}{% endif %}{% if rule.from_port is defined %} from port {{ rule.from_port }}{% endif %} from {{ rule.from_ip | default('any') }} to {{ rule.to_ip | default('any') }}{% if rule.port is defined %} port {{ rule.port }}{% elif rule.type is defined %} icmp6-type {{ rule.type }}{% endif %}

{% endfor %}
{% if firewall_rules_raw | length > 0 %}
{{ firewall_rules_raw }}
{% endif %}
