# dhcpd.conf
#
# Configuration file for ISC dhcpd
# {{ ansible_managed }}
#

default-lease-time 900;
max-lease-time 86400;

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
authoritative;

# arch option for PXEClient
option arch code 93 = unsigned integer 16;

# Set logging facility (accompanies setting in syslog.conf)
log-facility local7;


{% for network in automated_installer_dhcp_subnets %}
subnet {{ network.subnet }} netmask {{ network.netmask }} {
  option routers {{ network.routers }};
  option broadcast-address {{ network.broadcast_address }};

  next-server {{ ansible_facts['default_ipv4']['address'] }};

  option domain-name-servers {{ network.domain_name_servers | join(', ') }};
  option domain-name "{{ network.domain_name }}";
  option domain-search {{ network.domain_search | map('regex_replace', '^(.*)$', '"\1"') | join(', ') }};

  deny unknown-clients;
}
{% endfor %}

class "WANBoot" {
  match if not (substring(option vendor-class-identifier, 0, 9) = "PXEClient");
  filename "http://{{ ansible_facts['default_ipv4']['address'] }}:5555/cgi-bin/wanboot-cgi";
}

{% for client in automated_installer_clients %}
host {{ client.name }} {
  hardware ethernet {{ client.mac }};
  fixed-address {{ client.ip }};
  option host-name "{{ client.name }}";
}
{% endfor %}
